@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

.top {
    margin-top: 40px;
}

.top h1 {
    font-size: 56px;
    color: #75B79E;
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 65.63px;
}

.watch {
    margin-top: 20px;
    text-align: right;
    font-family: "Arial", sans-serif;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
}

.watch h1, .watch h2 {
    width: 80px;
    height: 60px;
    font-size: 40px;
    background-color: #75B79E;
    border-radius: 14px 0 0 14px;
    text-align: center;
    padding-top: 8px;
}

.danger {
    color: red;
}

.container {
    max-width: 970px;
    min-height: 330px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    transition: transform .4s;
}

.card img {
    width: 100px;
    height: 100px;
}

.hidden {
    display: none;
}

.turn {
    transform: rotateY(180deg);
}


@media (max-width:970px) {

    .card {
        margin-top: 20px;
    }

}

@media (max-width: 414px) {

    .container {
        flex-direction: column;
    }
}
